[submodule "third_party/monad"]
	path = third_party/monad
	url = https://github.com/category-labs/monad.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
